.container{
background:url("./pageBorder.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gitaBox{
height:30vh;
border:3px solid rgba(0, 0, 255, 0.281);
background: url(./sriGita.jpg);
background-repeat: no-repeat;
background-size:contain;
background-position: center;
}
.photo{
height:18rem;
width:15rem;
border:.5rem double rgb(4, 179, 248);
margin:1rem;
}

.flexBox{
display: flex;
/* column-gap:2rem;
justify-content: center;
align-items: center;
flex-wrap: wrap;
row-gap: 1rem; */
}
/* .chapterSummary{
width:70%;
border-top:5px solid rgba(255, 0, 0, 0.678);
border-bottom:5px solid rgba(255, 0, 0, 0.678);
margin-bottom:20px;
} */

@media screen and (max-width:480px){
    .image{display: none;}
}