.box{
height:6.5rem;
/* height:100px; */
width:9.3rem;
background:url(./poster.webp);
background-size: cover;
background-repeat: no-repeat;
border:3px solid white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
border-radius:5px;
box-shadow: 2px 2px 30px 4px yellow;
font-size: 1.5rem;
}

.chapter{
color:white;
font-family:serif;
word-wrap: break-word;
text-align: center;
/* font-size: 2rem; */
font-weight: 700;
text-shadow: 2px 2px 4px black;
background:rgba(255, 255, 255, 0.267);
}