*{
margin:0;
padding:0;
}
.footerBox{
/* background:linear-gradient(to bottom right,rgba(252, 74, 3, 0.685),rgba(255, 255, 255, 0.37)); */
padding:1rem;
/* background: darkblue; */
background: linear-gradient(to bottom right,rgba(0, 0, 255, 0.562),orange);
}

.socialLinks{
display:flex;
align-items: center;
column-gap: 1rem;
padding-right:6px;
/* border: 2px solid yellow; */
}
.navIcon{
color:white;
height:2rem;
width:2rem;
/* border:2px solid white; */
}
.navIcon:hover{
color:rgb(187, 252, 8)}

.footerText{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.text1{
color:white;
margin-bottom: 1.5rem;
}
.text2{
color:white;
font-style: italic;
margin-bottom: 3rem;
}