@font-face {
font-family: myFont;
src:url("./Components/Section/Cinzel_Decorative/CinzelDecorative-Bold.ttf")
}
@font-face{
font-family: paragraphFont;
src:url("./Components/Section/atomed-x31w8.otf")
}

body ,html{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to bottom right,rgba(3, 181, 252, 0.603),rgba(255, 166, 0, 0.596),rgba(3, 181, 252, 0.603));
  background-attachment: fixed;
  scroll-behavior: smooth;
height:100%;
overflow-x: hidden;
max-width:100%;
}

