.banner{
height:3rem;
width:100px;
border:2px solid yellow;
border-radius: .8rem;
background:url(../Chapter/bg.webp);
background-size: cover;
background-repeat: no-repeat;
color:white;
text-shadow: 3px 3px 4px red;
text-align: center;
cursor:pointer;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 2px 2px 20px 4px rgb(241, 240, 240);
}

